@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

:root {
  --youtube: #ff0000;
  --twitter: #1da1f2;
  --linkedin: #0077b5;
  --bilibili: #f88dad;
  --weibo: #f2da76;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  text-align: center;
  margin-top: 30px;
}
.link {
  background-color: black;
  padding: 15px 0px;
  margin: 2px 0px;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  border-radius: 3px;
}
a {
  text-decoration: none;
  color: white;
}
.youtube {
  background-color: var(--youtube);
}
.twitter {
  background-color: var(--twitter);
}
.linkedin {
  background-color: var(--linkedin);
}
.bilibili {
  background-color: var(--bilibili);
}
.weibo {
  background-color: var(--weibo);
}
.fab,
.fas {
  margin-right: 20px;
}
h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 100px;
}
h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
}
iframe {
  margin-bottom: 30px;
}
footer {
  text-align: center;
  background-color: #1a1d20;
  padding: 30px;
  margin-top: 50px;
  color: aliceblue;
  width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.logo {
  width: 12%;
  margin-top: 50px;
}

@media only screen and (max-device-width: 414px) {
  .links {
    width: 95%;
    margin-top: 20px;
  }
  iframe {
    width: 90%;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
  .link {
    font-size: 30px;
  }
}
